.home-page {
    background-color: black;
    color: green;
    font-family: 'Courier New', Courier, monospace;
    padding: 20px;
    height: 95vh;
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    justify-content: top;
    align-items: center;
    text-align: center;
}
